# Database configuration
DATABASE_TYPE=postgres
DATABASE_URL=connection string with username and password
#DATABASE_URL=postgresql://postgres:HwX.W4Wd%25L%2BAz%2B-@db.bkkoetjevidpautrlcnj.supabase.co:5432/postgres
# Dirección del frontend para CORS
FRONTEND_URL= something like http://localhost:4200
DATABASE_AUTO_LOAD_ENTITIES=true
DATABASE_SYNCHRONIZE=true