# Database configuration
DATABASE_TYPE=postgres
DATABASE_URL=connection string with username and password
# Dirección del frontend para CORS
FRONTEND_URL= something like http://localhost:4200
DATABASE_AUTO_LOAD_ENTITIES=true
DATABASE_SYNCHRONIZE=true